In [1]:
import pandas as pd
import json
import requests
import datetime
from pprint import pprint
from config import census_api_key
from census import Census
import scipy.stats as st

In [2]:
c = Census(
    census_api_key,
    year = 2021
)

In [3]:
census_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B01003_001E",
        "B17001_002E",
        "B23025_005E"
    ),
    {'for': 'zip code tabulation area:*'}
)

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column renaming
census_df = census_df.rename(
    columns = {
        "B01003_001E": "Population",
        "B19013_001E": "Household Income",
        "B17001_002E": "Poverty Count",
        "B23025_005E": 'Unemployed',
        "NAME": "Name",
        "zip code tabulation area": "Zipcode"
    }
)

# Add a Poverty Rate column (Poverty Count / Population)
census_df["Poverty Rate"] = 100 * census_df["Poverty Count"].astype(int) / census_df["Population"].astype(int)

# Configure the final DataFrame
census_df = census_df[
    [
        "Zipcode",
        "Population",
        'Unemployed',
        "Household Income",
        "Poverty Count",
        "Poverty Rate",
        
    ]
]

# Display DataFrame length and sample data
print(f"Number of rows in the DataFrame: {len(census_df)}")
census_df.head()

Number of rows in the DataFrame: 33774

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
0,00601,17126.0,1396.0,15292.0,11302.0,65.993227
1,00602,37895.0,939.0,18716.0,17121.0,45.180103
2,00603,49136.0,2712.0,16789.0,23617.0,48.064556
3,00606,5751.0,113.0,18835.0,3139.0,54.581812
4,00610,26153.0,855.0,21239.0,11640.0,44.507322

In [4]:
poverty_df = census_df.sort_values(by='Poverty Count', ascending=False)
poverty_df.head()

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
2664,10456,90314.0,5674.0,31166.0,33294.0,36.864716
2495,08701,130352.0,2580.0,53380.0,32214.0,24.713085
2863,11219,93119.0,2807.0,44450.0,31973.0,34.335635
58,00725,79153.0,4302.0,24262.0,31858.0,40.248632
2850,11206,90903.0,3649.0,49013.0,31273.0,34.402605

In [5]:
desired_zip_codes = ['44145', '75206', '55792', '98101', '44312', '79735']

filtered_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

filtered_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
26475,75206,38209.0,847.0,79468.0,4485.0,11.738072
14596,44312,30769.0,1169.0,57217.0,2847.0,9.252819
28264,79735,13267.0,75.0,54051.0,2599.0,19.589960
19117,55792,9907.0,280.0,47102.0,2125.0,21.449480
32979,98101,14528.0,303.0,96893.0,1799.0,12.382985
14538,44145,34049.0,737.0,98285.0,1638.0,4.810714

In [6]:
desired_zip_codes = ['98101', '98102', '98103', '98104', '98105', '98106', '98107', '98108', '98109', '98110', '98111', '98112', '98113', '98114', '98115', '98116', '98117', '98118', '98119', '98121', '98122', '98124', '98125', '98126', '98127', '98129', '98131', '98133','98136', '98138', '98139', '98141', '98144', '98145', '98146', '98148', '98155', '98160', '98161', '98165', '98166', '98168', '98170', '98175', '98177', '98178', '98181', '98185', '98188', '98190', '98191', '98194', '98198', '98199']

seattle_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

seattle_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
32983,98105,49448.0,1552.0,73343.0,10083.0,20.391118
32993,98118,48937.0,1266.0,94790.0,6188.0,12.644829
32996,98122,41541.0,1973.0,87418.0,5868.0,14.125803
32999,98133,50153.0,1184.0,77602.0,5188.0,10.344346
32997,98125,43386.0,1121.0,82439.0,4522.0,10.422717
33016,98198,38919.0,1587.0,69833.0,4501.0,11.565045
32986,98108,23759.0,714.0,74985.0,4471.0,18.818132
33010,98168,34614.0,1533.0,71977.0,4116.0,11.891142
32990,98115,53729.0,1292.0,128443.0,3874.0,7.210259
32984,98106,27489.0,585.0,84506.0,3673.0,13.361708
33013,98178,26282.0,762.0,87788.0,3206.0,12.198463
33003,98146,27879.0,724.0,91667.0,3187.0,11.431543
32981,98103,52210.0,1156.0,113443.0,3173.0,6.077380
32982,98104,14469.0,443.0,60955.0,2915.0,20.146520
33014,98188,27524.0,1140.0,71223.0,2789.0,10.132975
33002,98144,31648.0,820.0,90239.0,2671.0,8.439712
32987,98109,29376.0,836.0,111059.0,2372.0,8.074619
33009,98166,22599.0,802.0,102994.0,2167.0,9.588920
33006,98155,36081.0,885.0,109731.0,2160.0,5.986530
32998,98126,22030.0,643.0,97368.0,2127.0,9.655016
32985,98107,27116.0,934.0,113531.0,2061.0,7.600679
32980,98102,25396.0,947.0,102466.0,2061.0,8.115451
32979,98101,14528.0,303.0,96893.0,1799.0,12.382985
33012,98177,20561.0,431.0,138401.0,1744.0,8.482078
32994,98119,26094.0,644.0,106245.0,1637.0,6.273473
32995,98121,21010.0,672.0,135823.0,1613.0,7.677297
32992,98117,36365.0,788.0,146887.0,1519.0,4.177093
32989,98112,24412.0,945.0,133267.0,1463.0,5.992954
33017,98199,22890.0,304.0,148878.0,1271.0,5.552643
33004,98148,11068.0,460.0,77490.0,1134.0,10.245754
33001,98136,17245.0,361.0,130978.0,868.0,5.033343
32991,98116,27190.0,520.0,124795.0,821.0,3.019492
32988,98110,24557.0,384.0,145475.0,641.0,2.610254

In [7]:
seattle_df = seattle_df.dropna()

In [8]:
numeric_columns_seattle = seattle_df.select_dtypes(include='number')
seattle_stats_data = numeric_columns_seattle.mean()
seattle_std_data = numeric_columns_seattle.std(skipna=True)

seattle_stats = pd.DataFrame(seattle_stats_data).transpose()
seattle_stats.index = ['Seattle']

seattle_std = pd.DataFrame(seattle_std_data).transpose()
seattle_std.index = ['Seattle Std Dev']

seattle_stats = pd.concat([seattle_stats, seattle_std])

seattle_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Seattle,30318.333333,870.030303,102513.090909,2966.151515,9.686978
Seattle Std Dev,11474.827057,410.814168,25487.077011,1934.687412,4.380641

In [9]:
desired_zip_codes = ["75001", "75006", "75007", "75019", "75032", "75039", "75041", "75042", "75043", "75050", "75051", "75052", "75061",
          "75062", "75063", "75080", "75081", "75087", "75088", "75089", "75093", "75098", "75104", "75115", "75116", "75126",
          "75134", "75149", "75150", "75159", "75166", "75180", "75181", "75182", "75201", "75202", "75203", "75204", "75205",
          "75206", "75207", "75208", "75209", "75210", "75211", "75212", "75214", "75215", "75216", "75217", "75218", "75219",
          "75220", "75221", "75222", "75223", "75224", "75225", "75226", "75227", "75228", "75229", "75230", "75231", "75232",
          "75233", "75234", "75235", "75236", "75237", "75238", "75240", "75241", "75242", "75243", "75244", "75246", "75247",
          "75248", "75249", "75250", "75251", "75252", "75253", "75254", "75260", "75261", "75262", "75263", "75264", "75265",
          "75266", "75267", "75270", "75275", "75277", "75283", "75284", "75285", "75287", "75301", "75303", "75312", "75313",
          "75315", "75320", "75326", "75336", "75339", "75342", "75354", "75355", "75356", "75357", "75358", "75359", "75360",
          "75367", "75368", "75370", "75371", "75372", "75373", "75374", "75376", "75378", "75379", "75380", "75381", "75382",
          "75389", "75390", "75391", "75392", "75393", "75394", "75395", "75397", "75398"]

dallas_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

dallas_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
26485,75217,87767.0,1149.0,44384.0,23667.0,26.965716
26484,75216,55108.0,1646.0,31063.0,17532.0,31.813893
26480,75211,75213.0,2221.0,50368.0,14837.0,19.726643
26507,75243,65118.0,2226.0,43673.0,14069.0,21.605393
26494,75228,71450.0,1855.0,51018.0,13823.0,19.346396
...,...,...,...,...,...,...
26513,75251,3804.0,33.0,78245.0,169.0,4.442692
26461,75166,5589.0,59.0,105972.0,122.0,2.182859
26517,75261,0.0,0.0,-666666666.0,0.0,NaN
26518,75270,0.0,0.0,-666666666.0,0.0,NaN
26520,75390,0.0,0.0,-666666666.0,0.0,NaN

In [10]:
dallas_df = dallas_df.dropna()

In [11]:
numeric_columns_dallas = dallas_df.select_dtypes(include='number')
dallas_stats_data = numeric_columns_dallas.mean()
dallas_std_data = numeric_columns_dallas.std(skipna=True)

dallas_stats = pd.DataFrame(dallas_stats_data).transpose()
dallas_stats.index = ['Dallas']

dallas_std = pd.DataFrame(dallas_std_data).transpose()
dallas_std.index = ['Dallas Std Dev']

dallas_stats = pd.concat([dallas_stats, dallas_std])

dallas_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Dallas,33930.536585,895.926829,73419.024390,4477.170732,13.876770
Dallas Std Dev,20033.706346,589.453121,29507.249283,4084.803970,10.254064

In [12]:
desired_zip_codes = ["94101", "94102", "94103", "94104", "94105", "94107", "94108", "94109", "94110", "94111", "94112", "94114",
                 "94115", "94116", "94117", "94118", "94119", "94120", "94121", "94122", "94123", "94124", "94125", "94126",
                 "94127", "94129", "94130", "94131", "94132", "94133", "94134", "94140", "94141", "94142", "94146", "94147",
                 "94157", "94159", "94164", "94165", "94166", "94167", "94168", "94169", "94170", "94172", "94188"]

sanfransisco_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

sanfransisco_df = sanfransisco_df.dropna()

sanfransisco_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
31601,94112,84477.0,2853.0,112795.0,7560.0,8.949181
31599,94110,70859.0,2409.0,143938.0,6939.0,9.792687
31598,94109,56114.0,2322.0,104476.0,6850.0,12.207292
31610,94124,35982.0,1638.0,66618.0,6440.0,17.897838
31592,94102,33856.0,1541.0,55888.0,6092.0,17.993856
31593,94103,32430.0,1215.0,93143.0,5202.0,16.040703
31608,94122,60144.0,1976.0,130708.0,5001.0,8.315044
31618,94134,41977.0,1402.0,93068.0,4747.0,11.308574
31607,94121,43964.0,1384.0,116970.0,4224.0,9.607861
31603,94115,34193.0,811.0,138023.0,4195.0,12.268593
31617,94133,26090.0,1115.0,71063.0,3808.0,14.595631
31616,94132,29707.0,1405.0,93995.0,3512.0,11.822129
31605,94117,40701.0,814.0,174419.0,2892.0,7.105477
31604,94116,45510.0,1385.0,134652.0,2680.0,5.888816
31606,94118,41456.0,1096.0,139043.0,2538.0,6.122154
31597,94108,11963.0,326.0,65392.0,2322.0,19.409847
31596,94107,28607.0,833.0,164289.0,2206.0,7.711399
31602,94114,34474.0,1040.0,169459.0,1979.0,5.740558
31595,94105,13810.0,805.0,244662.0,1570.0,11.368573
31615,94131,29437.0,660.0,181329.0,1535.0,5.214526
31614,94130,3185.0,264.0,83077.0,1309.0,41.098901
31609,94123,26002.0,463.0,194098.0,1129.0,4.341974
31611,94127,20927.0,374.0,180768.0,910.0,4.348449
31600,94111,4707.0,125.0,135735.0,858.0,18.228171
31613,94129,4199.0,71.0,218717.0,141.0,3.357942
31594,94104,504.0,84.0,42591.0,112.0,22.222222

In [13]:
numeric_columns_sanfransisco = sanfransisco_df.select_dtypes(include='number')
sanfransisco_stats_data = numeric_columns_sanfransisco.mean()
sanfransisco_std_data = numeric_columns_sanfransisco.std(skipna=True)

sanfransisco_stats = pd.DataFrame(sanfransisco_stats_data).transpose()
sanfransisco_stats.index = ['Sanfransisco']

sanfransisco_std = pd.DataFrame(sanfransisco_std_data).transpose()
sanfransisco_std.index = ['Sanfransisco Std Dev']

sanfransisco_stats = pd.concat([sanfransisco_stats, sanfransisco_std])

sanfransisco_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Sanfransisco,32895.192308,1092.730769,128804.461538,3336.576923,12.036861
Sanfransisco Std Dev,20519.889423,739.801247,51976.355537,2225.385615,7.910814

In [14]:
desired_zip_codes = ["44102", "44103", "44104", "44105", "44106", "44107", "44108", "44109", "44110", "44111", "44112", "44113",
             "44114", "44115", "44117", "44118", "44119", "44120", "44121", "44124", "44125", "44126", "44127", "44128", "44129",
             "44130", "44134", "44135", "44137", "44142", "44143", "44144", "44181", "44188", "44190", "44191", "44192" ,"44193",
             "44194", "44195", "44197", "44198", "44199"]

cleveland_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

cleveland_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
14495,44102,42640.0,2211.0,33188.0,13713.0,32.159944
14498,44105,34339.0,2666.0,31690.0,11179.0,32.554821
14502,44109,39502.0,2296.0,36777.0,10210.0,25.846793
14497,44104,18830.0,1658.0,18591.0,9696.0,51.492300
14504,44111,42366.0,1953.0,47076.0,9178.0,21.663598
14513,44120,34629.0,1459.0,40563.0,7623.0,22.013341
14501,44108,21711.0,1536.0,29763.0,7228.0,33.291880
14528,44135,26836.0,1476.0,41622.0,7175.0,26.736473
14503,44110,18449.0,977.0,24994.0,7033.0,38.121307
14499,44106,24824.0,979.0,32745.0,6654.0,26.804705
14521,44128,28405.0,1979.0,38027.0,6560.0,23.094526
14500,44107,50900.0,1728.0,57634.0,6321.0,12.418468
14511,44118,40881.0,1646.0,67909.0,6048.0,14.794159
14505,44112,18945.0,1206.0,27195.0,6013.0,31.739245
14496,44103,14797.0,886.0,22122.0,5641.0,38.122592
14523,44130,51451.0,1173.0,62377.0,5517.0,10.722824
14518,44125,29367.0,1312.0,49070.0,5461.0,18.595703
14530,44137,23636.0,1001.0,45126.0,5333.0,22.563039
14508,44115,8960.0,906.0,19083.0,5221.0,58.270089
14514,44121,33011.0,1070.0,58714.0,4859.0,14.719336
14506,44113,19165.0,723.0,65179.0,4077.0,21.273154
14537,44144,22281.0,1109.0,50068.0,3415.0,15.326960
14527,44134,37631.0,1223.0,57861.0,3296.0,8.758736
14512,44119,12921.0,785.0,39428.0,2997.0,23.194799
14522,44129,28697.0,1107.0,60893.0,2801.0,9.760602
14507,44114,7004.0,400.0,45279.0,2527.0,36.079383
14517,44124,40326.0,1043.0,69965.0,2419.0,5.998611
14535,44142,18592.0,526.0,59912.0,1799.0,9.676205
14536,44143,24411.0,820.0,68221.0,1726.0,7.070583
14510,44117,9970.0,342.0,40028.0,1639.0,16.439318
14519,44126,17133.0,360.0,70740.0,1615.0,9.426253
14520,44127,4573.0,269.0,28525.0,1586.0,34.681828

In [15]:
cleveland_df = cleveland_df.dropna()

cleveland_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
14495,44102,42640.0,2211.0,33188.0,13713.0,32.159944
14498,44105,34339.0,2666.0,31690.0,11179.0,32.554821
14502,44109,39502.0,2296.0,36777.0,10210.0,25.846793
14497,44104,18830.0,1658.0,18591.0,9696.0,51.492300
14504,44111,42366.0,1953.0,47076.0,9178.0,21.663598
14513,44120,34629.0,1459.0,40563.0,7623.0,22.013341
14501,44108,21711.0,1536.0,29763.0,7228.0,33.291880
14528,44135,26836.0,1476.0,41622.0,7175.0,26.736473
14503,44110,18449.0,977.0,24994.0,7033.0,38.121307
14499,44106,24824.0,979.0,32745.0,6654.0,26.804705
14521,44128,28405.0,1979.0,38027.0,6560.0,23.094526
14500,44107,50900.0,1728.0,57634.0,6321.0,12.418468
14511,44118,40881.0,1646.0,67909.0,6048.0,14.794159
14505,44112,18945.0,1206.0,27195.0,6013.0,31.739245
14496,44103,14797.0,886.0,22122.0,5641.0,38.122592
14523,44130,51451.0,1173.0,62377.0,5517.0,10.722824
14518,44125,29367.0,1312.0,49070.0,5461.0,18.595703
14530,44137,23636.0,1001.0,45126.0,5333.0,22.563039
14508,44115,8960.0,906.0,19083.0,5221.0,58.270089
14514,44121,33011.0,1070.0,58714.0,4859.0,14.719336
14506,44113,19165.0,723.0,65179.0,4077.0,21.273154
14537,44144,22281.0,1109.0,50068.0,3415.0,15.326960
14527,44134,37631.0,1223.0,57861.0,3296.0,8.758736
14512,44119,12921.0,785.0,39428.0,2997.0,23.194799
14522,44129,28697.0,1107.0,60893.0,2801.0,9.760602
14507,44114,7004.0,400.0,45279.0,2527.0,36.079383
14517,44124,40326.0,1043.0,69965.0,2419.0,5.998611
14535,44142,18592.0,526.0,59912.0,1799.0,9.676205
14536,44143,24411.0,820.0,68221.0,1726.0,7.070583
14510,44117,9970.0,342.0,40028.0,1639.0,16.439318
14519,44126,17133.0,360.0,70740.0,1615.0,9.426253
14520,44127,4573.0,269.0,28525.0,1586.0,34.681828

In [16]:
numeric_columns_cleveland = cleveland_df.select_dtypes(include='number')
cleveland_stats_data = numeric_columns_cleveland.mean()
cleveland_std_data = numeric_columns_cleveland.std(skipna=True)

cleveland_stats = pd.DataFrame(cleveland_stats_data).transpose()
cleveland_stats.index = ['Cleveland']

cleveland_std = pd.DataFrame(cleveland_std_data).transpose()
cleveland_std.index = ['Cleveland Std Dev']

cleveland_stats = pd.concat([cleveland_stats, cleveland_std])

cleveland_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Cleveland,26474.468750,1213.281250,45011.406250,5517.500000,23.544112
Cleveland Std Dev,12458.705825,590.974877,15940.452592,3038.802067,12.717518

In [17]:
desired_zip_codes = ["59801", "59802", "59803", "59804", "59806", "59807", "59808"]

missoula_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

missoula_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
20739,59801,30886.0,1172.0,46112.0,6287.0,20.355501
20740,59802,19790.0,695.0,54450.0,3263.0,16.488125
20743,59808,21669.0,513.0,65567.0,2363.0,10.904979
20741,59803,17052.0,341.0,89946.0,734.0,4.304480
20742,59804,7802.0,139.0,75556.0,317.0,4.063061

In [18]:
missoula_df = missoula_df.dropna()

In [19]:
numeric_columns_missoula = missoula_df.select_dtypes(include='number')
missoula_stats_data = numeric_columns_missoula.mean()
missoula_std_data = numeric_columns_missoula.std(skipna=True)

missoula_stats = pd.DataFrame(missoula_stats_data).transpose()
missoula_stats.index = ['Missoula']

missoula_std = pd.DataFrame(missoula_std_data).transpose()
missoula_std.index = ['Missoula Std Dev']

missoula_stats = pd.concat([missoula_stats, missoula_std])

missoula_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Missoula,19439.800000,572.000000,66326.200000,2592.800000,11.223229
Missoula Std Dev,8325.374538,393.528906,17272.221577,2386.602858,7.251826

In [20]:
desired_zip_codes = ['55792']

virginia_minnesota_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

virginia_minnesota_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
19117,55792,9907.0,280.0,47102.0,2125.0,21.44948

In [21]:
# Assuming virginia_minnesota_df is your original DataFrame
numeric_columns = virginia_minnesota_df.select_dtypes(include='number')
virginia_stats_data = numeric_columns.mean()
virginia_std_data = numeric_columns.std(skipna=True)  # Set skipna=True to exclude NaN values

# Create the DataFrame with mean statistics
virginia_stats = pd.DataFrame(virginia_stats_data).transpose()
virginia_stats.index = ['Virginia Minnesota']

# Concatenate the two DataFrames vertically to add the second row
virginia_stats = pd.concat([virginia_stats])

# Display the final DataFrame
virginia_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Virginia Minnesota,9907.0,280.0,47102.0,2125.0,21.44948

In [22]:
desired_zip_codes = ["46107", "46183", "46201", "46202", "46203", "46204", "46205", "46206", "46207", "46208", "46214", "46214", "46216",
      "46217", "46217", "46218", "46219", "46220", "46221", "46222", "46224", "46224", "46225", "46226", "46226", "46227",
      "46227", "46228", "46229", "46229", "46230", "46231", "46231", "46234", "46234", "46235", "46235", "46236", "46236",
      "46237", "46237", "46239", "46239", "46240", "46240", "46241", "46241", "46242", "46244", "46247", "46247", "46250",
      "46250", "46251", "46253", "46253" ,"46254", "46254", "46256", "46256", "46259", "46259", "46260", "46260", "46268",
      "46268", "46278", "46278", "46282"]

indianapolis_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

indianapolis_df

,Zipcode,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
15374,46226,44764.0,2193.0,37798.0,11351.0,25.357430
15371,46222,38053.0,1564.0,41502.0,9703.0,25.498647
15375,46227,57359.0,1065.0,47541.0,8995.0,15.681933
15357,46201,31193.0,1741.0,34790.0,8795.0,28.195428
15359,46203,38829.0,1147.0,44356.0,8615.0,22.187025
15367,46218,29254.0,1420.0,28758.0,8567.0,29.284884
15385,46241,33756.0,1147.0,44543.0,8137.0,24.105344
15372,46224,39490.0,1135.0,45668.0,8117.0,20.554571
15387,46254,40540.0,1478.0,51702.0,7136.0,17.602368
15380,46235,33715.0,1067.0,48699.0,6832.0,20.263977
15368,46219,38174.0,1463.0,46758.0,6428.0,16.838686
15363,46208,21908.0,1017.0,41076.0,4979.0,22.726858
15390,46260,35529.0,801.0,62261.0,4946.0,13.921022
15361,46205,28000.0,1004.0,56563.0,4650.0,16.607143
15358,46202,21039.0,587.0,54972.0,4473.0,21.260516
15370,46221,27018.0,714.0,55639.0,3694.0,13.672367
15377,46229,28062.0,904.0,60435.0,3425.0,12.205117
15391,46268,24753.0,636.0,52689.0,3241.0,13.093362
15369,46220,36760.0,701.0,85942.0,2916.0,7.932535
15364,46214,23377.0,584.0,50496.0,2688.0,11.498481
15366,46217,39000.0,471.0,75602.0,2611.0,6.694872
15382,46237,40725.0,677.0,71469.0,2610.0,6.408840
15381,46236,28163.0,744.0,94547.0,2057.0,7.303909
15383,46239,33456.0,465.0,84894.0,2011.0,6.010880
15376,46228,16947.0,473.0,75185.0,1872.0,11.046203
15388,46256,21916.0,374.0,75905.0,1772.0,8.085417
15384,46240,19682.0,291.0,57885.0,1664.0,8.454425
15379,46234,27238.0,370.0,81685.0,1633.0,5.995301
15373,46225,4997.0,266.0,37111.0,1611.0,32.239344
15360,46204,10246.0,247.0,77951.0,1534.0,14.971696
15300,46107,13118.0,493.0,55473.0,1243.0,9.475530
15386,46250,17443.0,320.0,62420.0,1032.0,5.916413
15378,46231,10824.0,146.0,62739.0,606.0,5.598670
15389,46259,14955.0,236.0,116150.0,465.0,3.109328
15392,46278,8932.0,232.0,135602.0,390.0,4.366323
15365,46216,2206.0,53.0,46905.0,185.0,8.386219
15354,46183,0.0,0.0,-666666666.0,0.0,NaN
15362,46206,0.0,0.0,-666666666.0,0.0,NaN

In [23]:
indianapolis_df = indianapolis_df.dropna()

In [24]:
numeric_columns_indy = indianapolis_df.select_dtypes(include='number')
indy_stats_data = numeric_columns_indy.mean()
indy_std_data = numeric_columns_indy.std(skipna=True)  # Set skipna=True to exclude NaN values

indy_stats = pd.DataFrame(indy_stats_data).transpose()
indy_stats.index = ['Indianapolis']

indy_std = pd.DataFrame(indy_std_data).transpose()
indy_std.index = ['Indy Std Dev']

indy_stats = pd.concat([indy_stats, indy_std])

indy_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Indianapolis,27261.694444,784.055556,61214.194444,4194.00000,14.515307
Indy Std Dev,12278.847037,505.045964,22622.702242,3168.86662,7.992910

In [26]:
combined_stats = pd.concat([cleveland_stats, dallas_stats, indy_stats, missoula_stats, sanfransisco_stats, seattle_stats, virginia_stats])
combined_stats

,Population,Unemployed,Household Income,Poverty Count,Poverty Rate
Cleveland,26474.468750,1213.281250,45011.406250,5517.500000,23.544112
Cleveland Std Dev,12458.705825,590.974877,15940.452592,3038.802067,12.717518
Dallas,33930.536585,895.926829,73419.024390,4477.170732,13.876770
Dallas Std Dev,20033.706346,589.453121,29507.249283,4084.803970,10.254064
Indianapolis,27261.694444,784.055556,61214.194444,4194.000000,14.515307
Indy Std Dev,12278.847037,505.045964,22622.702242,3168.866620,7.992910
Missoula,19439.800000,572.000000,66326.200000,2592.800000,11.223229
Missoula Std Dev,8325.374538,393.528906,17272.221577,2386.602858,7.251826
Sanfransisco,32895.192308,1092.730769,128804.461538,3336.576923,12.036861
Sanfransisco Std Dev,20519.889423,739.801247,51976.355537,2225.385615,7.910814
Seattle,30318.333333,870.030303,102513.090909,2966.151515,9.686978
Seattle Std Dev,11474.827057,410.814168,25487.077011,1934.687412,4.380641
Virginia Minnesota,9907.000000,280.000000,47102.000000,2125.000000,21.449480