In [12]:
import pandas as pd
import json
import requests
import datetime
from pprint import pprint
from config import census_api_key
from census import Census
import scipy.stats as st

In [2]:
c = Census(
    census_api_key,
    year = 2017
)

In [3]:
census_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B01003_001E",
        "B01002_001E",
        "B19301_001E",
        "B17001_002E",
        "B23025_005E",
        "B23025_002E"
    ),
    {'for': 'zip code tabulation area:*'}
)

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column renaming
census_df = census_df.rename(
    columns = {
        "B01003_001E": "Population",
        "B01002_001E": "Median Age",
        "B19013_001E": "Household Income",
        "B19301_001E": "Per Capita Income",
        "B17001_002E": "Poverty Count",
        "B23025_005E": 'Unemployed',
        "B23025_002E": 'Employed',
        "NAME": "Name",
        "zip code tabulation area": "Zipcode"
    }
)

# Add a Poverty Rate column (Poverty Count / Population)
census_df["Poverty Rate"] = 100 * census_df["Poverty Count"].astype(int) / census_df["Population"].astype(int)

# Configure the final DataFrame
census_df = census_df[
    [
        "Zipcode",
        "Population",
        "Median Age",
        'Unemployed',
        'Employed',
        "Household Income",
        "Per Capita Income",
        "Poverty Count",
        "Poverty Rate",
        
    ]
]

# Display DataFrame length and sample data
print(f"Number of rows in the DataFrame: {len(census_df)}")
census_df.head()

Number of rows in the DataFrame: 33120

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,00601,17599.0,38.9,2454.0,5953.0,11757.0,7041.0,11282.0,64.105915
1,00602,39209.0,40.9,2538.0,14390.0,16190.0,8978.0,20428.0,52.100283
2,00603,50135.0,40.4,3588.0,16044.0,16645.0,10897.0,25176.0,50.216416
3,00606,6304.0,42.8,204.0,1707.0,13387.0,5960.0,4092.0,64.911168
4,00610,27590.0,41.4,1474.0,10048.0,18741.0,9266.0,12553.0,45.498369

In [4]:
poverty_df = census_df.sort_values(by='Poverty Count', ascending=False)
poverty_df.head()

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
30019,90011,108051.0,28.0,3954.0,48603.0,33824.0,10887.0,38839.0,35.945063
2645,10456,94667.0,30.5,5329.0,39388.0,26724.0,14424.0,37540.0,39.654790
27256,78521,92975.0,28.8,3280.0,34799.0,28935.0,12173.0,34978.0,37.620866
56,00725,82822.0,40.4,5766.0,32983.0,20374.0,12575.0,34629.0,41.811354
2642,10453,82232.0,30.1,4555.0,36069.0,24421.0,13386.0,33803.0,41.106868

In [11]:
desired_zip_codes = ['44145', '75206', '55792', '98101', '44312', '79735']

filtered_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

filtered_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
25974,75206,38762.0,31.2,922.0,27456.0,63392.0,49708.0,5467.0,14.104019
14314,44312,31074.0,43.2,1165.0,16410.0,47393.0,24735.0,3098.0,9.969750
32338,98101,12408.0,38.9,419.0,8433.0,68750.0,70914.0,2061.0,16.610251
18733,55792,9795.0,42.7,261.0,4604.0,39080.0,27156.0,2054.0,20.969883
14256,44145,32387.0,46.7,628.0,17025.0,81966.0,51434.0,1716.0,5.298422
27714,79735,13383.0,36.4,194.0,5076.0,46445.0,18091.0,1352.0,10.102369

In [48]:
desired_zip_codes = ['98101', '98102', '98103', '98104', '98105', '98106', '98107', '98108', '98109', '98110', '98111', '98112', '98113', '98114', '98115', '98116', '98117', '98118', '98119', '98121', '98122', '98124', '98125', '98126', '98127', '98129', '98131', '98133','98136', '98138', '98139', '98141', '98144', '98145', '98146', '98148', '98155', '98160', '98161', '98165', '98166', '98168', '98170', '98175', '98177', '98178', '98181', '98185', '98188', '98190', '98191', '98194', '98198', '98199']

seattle_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

seattle_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
32342,98105,47128.0,23.6,2112.0,25776.0,56015.0,37153.0,11346.0,24.074860
32352,98118,46800.0,38.6,2028.0,25242.0,62504.0,31665.0,9098.0,19.440171
32358,98133,48390.0,38.7,1295.0,28466.0,60409.0,36154.0,6247.0,12.909692
32355,98122,37270.0,31.4,897.0,25674.0,72018.0,51420.0,5835.0,15.656024
32345,98108,24134.0,35.6,1241.0,13613.0,55314.0,27214.0,5562.0,23.046325
32356,98125,40803.0,37.8,1298.0,23551.0,61014.0,39379.0,5499.0,13.476950
32369,98168,31771.0,36.6,1355.0,17092.0,53992.0,24762.0,5381.0,16.936829
32349,98115,51523.0,37.2,1159.0,30626.0,100794.0,55491.0,5081.0,9.861615
32375,98198,37262.0,38.2,1114.0,19867.0,59843.0,29483.0,4948.0,13.278944
32372,98178,27279.0,38.5,647.0,14235.0,72478.0,30979.0,4216.0,15.455112
32361,98144,30850.0,38.2,779.0,19029.0,71628.0,45952.0,4021.0,13.034036
32343,98106,26244.0,36.1,1232.0,15580.0,62726.0,31374.0,4017.0,15.306356
32340,98103,51385.0,33.4,1222.0,36391.0,91740.0,56013.0,3996.0,7.776588
32362,98146,27587.0,38.4,903.0,14889.0,61160.0,32949.0,3927.0,14.234966
32373,98188,25652.0,34.7,730.0,14585.0,50231.0,29441.0,3578.0,13.948230
32357,98126,23360.0,38.7,611.0,13121.0,73698.0,43163.0,3322.0,14.220890
32341,98104,14143.0,40.3,519.0,7481.0,37610.0,43277.0,2873.0,20.313936
32365,98155,34436.0,41.4,1014.0,19457.0,81405.0,39903.0,2647.0,7.686723
32353,98119,25036.0,33.6,596.0,17152.0,85171.0,63806.0,2165.0,8.647548
32368,98166,21318.0,43.4,804.0,12320.0,76658.0,41367.0,2069.0,9.705413
32338,98101,12408.0,38.9,419.0,8433.0,68750.0,70914.0,2061.0,16.610251
32363,98148,11278.0,36.9,319.0,5986.0,53342.0,28698.0,2047.0,18.150381
32348,98112,24720.0,38.8,749.0,15195.0,110051.0,85165.0,2027.0,8.199838
32346,98109,27002.0,32.0,833.0,20212.0,95719.0,72230.0,1978.0,7.325383
32351,98117,33610.0,40.1,878.0,21183.0,102519.0,54508.0,1757.0,5.227611
32354,98121,16466.0,33.9,510.0,12662.0,94813.0,81412.0,1713.0,10.403255
32344,98107,24384.0,35.0,670.0,17377.0,83581.0,59309.0,1653.0,6.779035
32339,98102,24703.0,33.3,506.0,19504.0,83403.0,71933.0,1635.0,6.618629
32371,98177,20278.0,46.8,355.0,10856.0,100036.0,55401.0,1281.0,6.317191
32347,98110,23689.0,47.7,369.0,11285.0,109341.0,58371.0,1125.0,4.749040
32350,98116,25694.0,42.3,422.0,15571.0,100711.0,60743.0,1124.0,4.374562
32376,98199,21660.0,41.4,469.0,12860.0,103309.0,64294.0,973.0,4.492151
32360,98136,16364.0,43.4,266.0,10211.0,97673.0,55515.0,852.0,5.206551

In [50]:
seattle_df = seattle_df.dropna()

In [51]:
seattle_df.describe()

,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,28928.090909,37.724242,858.212121,17438.848485,77262.303030,48770.848485,3516.787879,11.923184
std,11010.669928,4.614449,448.999566,6878.337986,19789.763898,16719.110432,2372.587838,5.520457
min,11278.000000,23.600000,266.000000,5986.000000,37610.000000,24762.000000,852.000000,4.374562
25%,23360.000000,35.000000,510.000000,12860.000000,61014.000000,32949.000000,1757.000000,7.325383
50%,25694.000000,38.200000,779.000000,15580.000000,73698.000000,45952.000000,2873.000000,12.909692
75%,34436.000000,40.100000,1159.000000,20212.000000,95719.000000,59309.000000,4948.000000,15.455112
max,51523.000000,47.700000,2112.000000,36391.000000,110051.000000,85165.000000,11346.000000,24.074860

In [52]:
desired_zip_codes = ["75001", "75006", "75007", "75019", "75032", "75039", "75041", "75042", "75043", "75050", "75051", "75052", "75061",
          "75062", "75063", "75080", "75081", "75087", "75088", "75089", "75093", "75098", "75104", "75115", "75116", "75126",
          "75134", "75149", "75150", "75159", "75166", "75180", "75181", "75182", "75201", "75202", "75203", "75204", "75205",
          "75206", "75207", "75208", "75209", "75210", "75211", "75212", "75214", "75215", "75216", "75217", "75218", "75219",
          "75220", "75221", "75222", "75223", "75224", "75225", "75226", "75227", "75228", "75229", "75230", "75231", "75232",
          "75233", "75234", "75235", "75236", "75237", "75238", "75240", "75241", "75242", "75243", "75244", "75246", "75247",
          "75248", "75249", "75250", "75251", "75252", "75253", "75254", "75260", "75261", "75262", "75263", "75264", "75265",
          "75266", "75267", "75270", "75275", "75277", "75283", "75284", "75285", "75287", "75301", "75303", "75312", "75313",
          "75315", "75320", "75326", "75336", "75339", "75342", "75354", "75355", "75356", "75357", "75358", "75359", "75360",
          "75367", "75368", "75370", "75371", "75372", "75373", "75374", "75376", "75378", "75379", "75380", "75381", "75382",
          "75389", "75390", "75391", "75392", "75393", "75394", "75395", "75397", "75398"]

dallas_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

dallas_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
25984,75217,85249.0,28.6,1358.0,33662.0,35282.0,12792.0,26496.0,31.080716
25983,75216,52895.0,34.2,1834.0,19843.0,25763.0,13027.0,19585.0,37.026184
25979,75211,77600.0,28.4,2219.0,35942.0,38760.0,14994.0,19107.0,24.622423
26006,75243,67445.0,31.2,2432.0,37832.0,38640.0,25034.0,17188.0,25.484469
25993,75228,74605.0,31.0,2636.0,37124.0,40306.0,19520.0,16217.0,21.737149
...,...,...,...,...,...,...,...,...,...
25975,75207,8028.0,32.1,8.0,1851.0,79926.0,29326.0,150.0,1.868460
25967,75182,6077.0,38.0,166.0,3264.0,137721.0,48606.0,139.0,2.287313
25960,75166,4057.0,33.2,36.0,2070.0,91136.0,33750.0,19.0,0.468326
26018,75390,0.0,-666666666.0,0.0,0.0,-666666666.0,-666666666.0,0.0,NaN
26016,75270,0.0,-666666666.0,0.0,0.0,-666666666.0,-666666666.0,0.0,NaN

In [53]:
dallas_df = dallas_df.dropna()

In [54]:
dallas_df.describe()

,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
count,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000
mean,32953.134146,34.446341,988.304878,17417.597561,62511.548780,34700.560976,5436.743902,17.122951
std,19615.540120,5.132400,649.245045,10287.104139,28061.532142,21032.202366,4892.123601,11.045396
min,712.000000,26.800000,8.000000,178.000000,16886.000000,11578.000000,19.000000,0.468326
25%,18955.500000,31.000000,511.000000,9773.000000,41967.000000,18975.000000,2041.750000,7.890119
50%,30542.000000,33.750000,916.000000,16489.000000,57719.500000,28269.500000,4197.500000,15.203942
75%,42663.000000,37.400000,1299.500000,23724.250000,81664.500000,45767.500000,7502.000000,24.074648
max,94133.000000,59.600000,3290.000000,52441.000000,173828.000000,117586.000000,26496.000000,58.286517

In [57]:
desired_zip_codes = ["94101", "94102", "94103", "94104", "94105", "94107", "94108", "94109", "94110", "94111", "94112", "94114",
                 "94115", "94116", "94117", "94118", "94119", "94120", "94121", "94122", "94123", "94124", "94125", "94126",
                 "94127", "94129", "94130", "94131", "94132", "94133", "94134", "94140", "94141", "94142", "94146", "94147",
                 "94157", "94159", "94164", "94165", "94166", "94167", "94168", "94169", "94170", "94172", "94188"]

sanfransisco_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

sanfransisco_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
30985,94112,85373.0,41.4,3409.0,49223.0,82692.0,31905.0,7750.0,9.077811
30994,94124,35492.0,35.3,1854.0,18412.0,55823.0,26061.0,7529.0,21.213231
30983,94110,73737.0,36.6,2728.0,49145.0,109747.0,59660.0,7321.0,9.928530
30976,94102,30140.0,41.5,1045.0,17531.0,33552.0,43488.0,6957.0,23.082283
30982,94109,56587.0,36.9,1610.0,39109.0,79979.0,75460.0,6718.0,11.871985
30992,94122,62516.0,39.5,1570.0,37523.0,102838.0,51615.0,5924.0,9.475974
30977,94103,26990.0,38.8,762.0,16116.0,49052.0,55807.0,5870.0,21.748796
31000,94132,31155.0,33.2,1874.0,17391.0,72970.0,34028.0,5124.0,16.446798
31002,94134,43074.0,40.2,1845.0,23276.0,71352.0,28790.0,5048.0,11.719367
30987,94115,35751.0,36.0,1128.0,22657.0,103625.0,76686.0,4531.0,12.673771
31001,94133,26942.0,43.0,921.0,16137.0,66422.0,58461.0,4314.0,16.012174
30988,94116,47708.0,42.9,1600.0,26846.0,101746.0,50165.0,4006.0,8.396915
30990,94118,41417.0,37.4,1128.0,25521.0,102021.0,65842.0,3930.0,9.488857
30991,94121,43638.0,43.7,1174.0,25868.0,87001.0,52321.0,3913.0,8.966955
30989,94117,43610.0,33.6,1407.0,31780.0,132979.0,76623.0,3464.0,7.943132
30980,94107,29920.0,35.9,958.0,20165.0,143467.0,87735.0,3391.0,11.333556
30981,94108,14856.0,42.8,356.0,9036.0,55341.0,51359.0,3178.0,21.392030
30986,94114,34561.0,40.4,986.0,24466.0,143902.0,100685.0,2075.0,6.003877
30999,94131,29056.0,41.5,894.0,18163.0,119924.0,75754.0,1676.0,5.768172
30998,94130,3129.0,25.8,228.0,1728.0,52143.0,18012.0,1561.0,49.888143
30993,94123,25461.0,34.4,712.0,18366.0,134809.0,104926.0,1182.0,4.642394
30995,94127,21093.0,45.0,398.0,11377.0,151094.0,72905.0,1065.0,5.049068
30979,94105,7675.0,37.6,202.0,5619.0,199364.0,154723.0,733.0,9.550489
30984,94111,3356.0,46.1,63.0,1870.0,99464.0,88610.0,661.0,19.696067
30997,94129,4019.0,29.4,26.0,2465.0,190167.0,81974.0,122.0,3.035581
30978,94104,436.0,51.3,10.0,161.0,48429.0,64267.0,84.0,19.266055

In [55]:
sanfransisco_df = sanfransisco_df.dropna()

In [56]:
sanfransisco_df.describe()

,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,32988.153846,38.853846,1111.076923,20382.730769,99611.653846,64917.769231,3774.115385,13.602770
std,21364.040838,5.382136,823.142949,13381.497299,43221.162092,29185.526139,2428.532352,9.457921
min,436.000000,25.800000,10.000000,161.000000,33552.000000,18012.000000,84.000000,3.035581
25%,22185.000000,35.925000,476.500000,12561.750000,67654.500000,50463.500000,1589.750000,8.539425
50%,30647.500000,39.150000,1015.500000,18389.000000,100605.000000,61963.500000,3921.500000,10.631043
75%,43476.000000,42.475000,1592.500000,25781.250000,129715.250000,76670.250000,5683.500000,18.561241
max,85373.000000,51.300000,3409.000000,49223.000000,199364.000000,154723.000000,7750.000000,49.888143

In [36]:
desired_zip_codes = ["44102", "44103", "44104", "44105", "44106", "44107", "44108", "44109", "44110", "44111", "44112", "44113",
             "44114", "44115", "44117", "44118", "44119", "44120", "44121", "44124", "44125", "44126", "44127", "44128", "44129",
             "44130", "44134", "44135", "44137", "44142", "44143", "44144", "44181", "44188", "44190", "44191", "44192" ,"44193",
             "44194", "44195", "44197", "44198", "44199"]

cleveland_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

cleveland_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
14213,44102,45276.0,34.2,2527.0,20855.0,29909.0,19147.0,16315.0,36.034544
14216,44105,38018.0,35.8,3726.0,16587.0,25057.0,15223.0,14715.0,38.705350
14220,44109,40810.0,34.5,2622.0,20526.0,30464.0,18573.0,12831.0,31.440823
14215,44104,20541.0,28.5,2613.0,7660.0,14646.0,10490.0,11954.0,58.195804
14231,44120,34556.0,39.6,2580.0,17146.0,33936.0,29461.0,8452.0,24.458849
14219,44108,22048.0,42.0,2449.0,9565.0,24078.0,19288.0,8299.0,37.640602
14222,44111,41455.0,38.3,1978.0,21854.0,40542.0,22839.0,8252.0,19.905922
14217,44106,25836.0,28.6,1375.0,12090.0,25892.0,25142.0,8183.0,31.672860
14223,44112,21788.0,43.0,1683.0,8763.0,22147.0,16299.0,8182.0,37.552781
14221,44110,19614.0,40.8,1879.0,8924.0,21468.0,15522.0,7845.0,39.996941
14218,44107,50954.0,35.2,1730.0,31484.0,48671.0,32918.0,7425.0,14.571967
14246,44135,27826.0,38.8,1565.0,13941.0,37408.0,20133.0,7408.0,26.622583
14214,44103,16486.0,41.4,1622.0,6710.0,17867.0,13854.0,7257.0,44.019168
14239,44128,28894.0,42.7,2126.0,13558.0,32814.0,19553.0,6517.0,22.554856
14229,44118,39487.0,33.7,1251.0,20377.0,61004.0,33938.0,6195.0,15.688708
14224,44113,19830.0,31.3,969.0,10853.0,46481.0,34092.0,5375.0,27.105396
14226,44115,8281.0,24.6,821.0,3599.0,13625.0,16781.0,5085.0,61.405627
14248,44137,22658.0,37.6,1180.0,11623.0,39850.0,20680.0,4985.0,22.001059
14232,44121,32651.0,38.1,1178.0,17287.0,51962.0,27303.0,4980.0,15.252213
14236,44125,28055.0,39.9,1451.0,14607.0,43049.0,23259.0,4363.0,15.551595
14241,44130,49591.0,43.6,1502.0,25787.0,53059.0,29203.0,4064.0,8.195035
14255,44144,22150.0,40.9,890.0,12199.0,44274.0,23806.0,3843.0,17.349887
14245,44134,38084.0,42.4,1384.0,20905.0,51928.0,26114.0,3487.0,9.156076
14225,44114,6714.0,33.5,476.0,3742.0,22304.0,29360.0,3133.0,46.663688
14230,44119,12302.0,41.0,682.0,5973.0,36620.0,22717.0,2849.0,23.158836
14235,44124,37728.0,45.0,1023.0,20028.0,61621.0,42988.0,2663.0,7.058418
14240,44129,28263.0,41.3,947.0,15757.0,52863.0,26924.0,2386.0,8.442133
14238,44127,4990.0,33.1,504.0,2055.0,19792.0,12539.0,2365.0,47.394790
14228,44117,9770.0,49.0,418.0,4555.0,29787.0,22839.0,2180.0,22.313204
14253,44142,18762.0,44.7,718.0,9913.0,49816.0,25279.0,2101.0,11.198167
14254,44143,24067.0,50.6,791.0,12838.0,61142.0,37923.0,2010.0,8.351685
14237,44126,16395.0,40.6,492.0,9024.0,54744.0,33079.0,1643.0,10.021348

In [37]:
cleveland_df = cleveland_df.dropna()

cleveland_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
14213,44102,45276.0,34.2,2527.0,20855.0,29909.0,19147.0,16315.0,36.034544
14216,44105,38018.0,35.8,3726.0,16587.0,25057.0,15223.0,14715.0,38.705350
14220,44109,40810.0,34.5,2622.0,20526.0,30464.0,18573.0,12831.0,31.440823
14215,44104,20541.0,28.5,2613.0,7660.0,14646.0,10490.0,11954.0,58.195804
14231,44120,34556.0,39.6,2580.0,17146.0,33936.0,29461.0,8452.0,24.458849
14219,44108,22048.0,42.0,2449.0,9565.0,24078.0,19288.0,8299.0,37.640602
14222,44111,41455.0,38.3,1978.0,21854.0,40542.0,22839.0,8252.0,19.905922
14217,44106,25836.0,28.6,1375.0,12090.0,25892.0,25142.0,8183.0,31.672860
14223,44112,21788.0,43.0,1683.0,8763.0,22147.0,16299.0,8182.0,37.552781
14221,44110,19614.0,40.8,1879.0,8924.0,21468.0,15522.0,7845.0,39.996941
14218,44107,50954.0,35.2,1730.0,31484.0,48671.0,32918.0,7425.0,14.571967
14246,44135,27826.0,38.8,1565.0,13941.0,37408.0,20133.0,7408.0,26.622583
14214,44103,16486.0,41.4,1622.0,6710.0,17867.0,13854.0,7257.0,44.019168
14239,44128,28894.0,42.7,2126.0,13558.0,32814.0,19553.0,6517.0,22.554856
14229,44118,39487.0,33.7,1251.0,20377.0,61004.0,33938.0,6195.0,15.688708
14224,44113,19830.0,31.3,969.0,10853.0,46481.0,34092.0,5375.0,27.105396
14226,44115,8281.0,24.6,821.0,3599.0,13625.0,16781.0,5085.0,61.405627
14248,44137,22658.0,37.6,1180.0,11623.0,39850.0,20680.0,4985.0,22.001059
14232,44121,32651.0,38.1,1178.0,17287.0,51962.0,27303.0,4980.0,15.252213
14236,44125,28055.0,39.9,1451.0,14607.0,43049.0,23259.0,4363.0,15.551595
14241,44130,49591.0,43.6,1502.0,25787.0,53059.0,29203.0,4064.0,8.195035
14255,44144,22150.0,40.9,890.0,12199.0,44274.0,23806.0,3843.0,17.349887
14245,44134,38084.0,42.4,1384.0,20905.0,51928.0,26114.0,3487.0,9.156076
14225,44114,6714.0,33.5,476.0,3742.0,22304.0,29360.0,3133.0,46.663688
14230,44119,12302.0,41.0,682.0,5973.0,36620.0,22717.0,2849.0,23.158836
14235,44124,37728.0,45.0,1023.0,20028.0,61621.0,42988.0,2663.0,7.058418
14240,44129,28263.0,41.3,947.0,15757.0,52863.0,26924.0,2386.0,8.442133
14238,44127,4990.0,33.1,504.0,2055.0,19792.0,12539.0,2365.0,47.394790
14228,44117,9770.0,49.0,418.0,4555.0,29787.0,22839.0,2180.0,22.313204
14253,44142,18762.0,44.7,718.0,9913.0,49816.0,25279.0,2101.0,11.198167
14254,44143,24067.0,50.6,791.0,12838.0,61142.0,37923.0,2010.0,8.351685
14237,44126,16395.0,40.6,492.0,9024.0,54744.0,33079.0,1643.0,10.021348

In [38]:
cleveland_df.describe()

,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
count,32.00000,32.000000,32.00000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,26683.75000,38.571875,1473.50000,13462.031250,37463.125000,23977.062500,6166.937500,26.240029
std,12349.39717,5.802404,790.67562,6917.835497,14503.969828,7688.439931,3766.234681,14.991650
min,4990.00000,24.600000,418.00000,2055.000000,13625.000000,10490.000000,1643.000000,7.058418
25%,19401.00000,34.425000,872.75000,8883.750000,24812.250000,19003.500000,3062.000000,15.082151
50%,24951.50000,39.750000,1379.50000,12518.500000,37014.000000,23049.000000,5230.000000,22.856846
75%,37800.50000,42.100000,1903.75000,17972.250000,50344.000000,29242.250000,8182.250000,37.574737
max,50954.00000,50.600000,3726.00000,31484.000000,61621.000000,42988.000000,16315.000000,61.405627

In [39]:
desired_zip_codes = ["59801", "59802", "59803", "59804", "59806", "59807", "59808"]

missoula_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

missoula_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
20342,59801,32067.0,29.5,1457.0,19818.0,36606.0,24263.0,7821.0,24.389559
20343,59802,19376.0,35.6,850.0,12362.0,41039.0,30862.0,3619.0,18.677746
20346,59808,19403.0,35.4,536.0,10786.0,56084.0,31959.0,2316.0,11.936299
20344,59803,17318.0,38.0,335.0,9391.0,68183.0,33155.0,1336.0,7.714517
20345,59804,8229.0,43.8,246.0,4140.0,60094.0,36010.0,918.0,11.155669

In [40]:
missoula_df = missoula_df.dropna()

In [41]:
missoula_df.describe()

,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,19278.600000,36.460000,684.800000,11299.400000,52401.200000,31249.800000,3202.000000,14.774758
std,8507.434237,5.161201,490.058874,5675.787241,13232.491553,4351.954124,2783.552496,6.683550
min,8229.000000,29.500000,246.000000,4140.000000,36606.000000,24263.000000,918.000000,7.714517
25%,17318.000000,35.400000,335.000000,9391.000000,41039.000000,30862.000000,1336.000000,11.155669
50%,19376.000000,35.600000,536.000000,10786.000000,56084.000000,31959.000000,2316.000000,11.936299
75%,19403.000000,38.000000,850.000000,12362.000000,60094.000000,33155.000000,3619.000000,18.677746
max,32067.000000,43.800000,1457.000000,19818.000000,68183.000000,36010.000000,7821.000000,24.389559

In [42]:
desired_zip_codes = ['55792']

virginia_minnesota_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

virginia_minnesota_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
18733,55792,9795.0,42.7,261.0,4604.0,39080.0,27156.0,2054.0,20.969883

In [47]:
virginia_minnesota_df.describe()

,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,8395.857143,36.742857,223.857143,3946.428571,33497.285714,23276.714286,1760.714286,18.117042
std,3701.784049,15.761119,98.270763,1739.770469,14770.473641,10263.625265,775.961063,7.547906
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9795.000000,42.700000,261.000000,4604.000000,39080.000000,27156.000000,2054.000000,20.969883
50%,9795.000000,42.700000,261.000000,4604.000000,39080.000000,27156.000000,2054.000000,20.969883
75%,9795.000000,42.700000,261.000000,4604.000000,39080.000000,27156.000000,2054.000000,20.969883
max,9795.000000,42.700000,261.000000,4604.000000,39080.000000,27156.000000,2054.000000,20.969883

In [58]:
desired_zip_codes = ["46107", "46183", "46201", "46202", "46203", "46204", "46205", "46206", "46207", "46208", "46214", "46214", "46216",
      "46217", "46217", "46218", "46219", "46220", "46221", "46222", "46224", "46224", "46225", "46226", "46226", "46227",
      "46227", "46228", "46229", "46229", "46230", "46231", "46231", "46234", "46234", "46235", "46235", "46236", "46236",
      "46237", "46237", "46239", "46239", "46240", "46240", "46241", "46241", "46242", "46244", "46247", "46247", "46250",
      "46250", "46251", "46253", "46253" ,"46254", "46254", "46256", "46256", "46259", "46259", "46260", "46260", "46268",
      "46268", "46278", "46278", "46282"]

indianapolis_df = poverty_df[poverty_df['Zipcode'].isin(desired_zip_codes)]

indianapolis_df

,Zipcode,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
15064,46222,36508.0,29.5,1449.0,15964.0,30821.0,14606.0,12518.0,34.288375
15067,46226,45468.0,33.3,3523.0,22668.0,33348.0,18703.0,12153.0,26.728688
15065,46224,36881.0,30.7,1478.0,18442.0,35384.0,17194.0,11687.0,31.688403
15053,46203,39250.0,33.8,1711.0,17993.0,35292.0,18573.0,10809.0,27.538854
15068,46227,57023.0,33.4,1630.0,28646.0,40415.0,22222.0,10746.0,18.845027
15051,46201,29852.0,35.5,2181.0,15207.0,28783.0,17132.0,10270.0,34.403055
15060,46218,26757.0,38.5,2038.0,11785.0,23771.0,16494.0,10086.0,37.694809
15078,46241,31610.0,32.2,1585.0,14295.0,36090.0,16736.0,9654.0,30.540968
15073,46235,32578.0,29.1,2118.0,16518.0,36328.0,17611.0,9233.0,28.341212
15080,46254,40259.0,30.2,1778.0,22056.0,43721.0,22660.0,7609.0,18.900122
15061,46219,37284.0,38.9,1710.0,18360.0,39329.0,22690.0,7431.0,19.930801
15055,46205,28380.0,32.8,1641.0,15915.0,41773.0,28781.0,7064.0,24.890768
15056,46208,23300.0,31.6,1507.0,12217.0,34147.0,25512.0,6602.0,28.334764
15083,46260,32798.0,35.1,817.0,17264.0,46760.0,33761.0,6092.0,18.574303
15052,46202,19317.0,30.0,884.0,11105.0,36092.0,30991.0,5525.0,28.601750
15070,46229,29000.0,35.2,1520.0,14356.0,46946.0,25632.0,5190.0,17.896552
15063,46221,26599.0,33.3,1015.0,13110.0,45581.0,20118.0,5147.0,19.350352
15059,46217,33873.0,34.9,832.0,17542.0,57706.0,27106.0,3917.0,11.563782
15084,46268,25457.0,34.7,953.0,13755.0,47813.0,27447.0,3857.0,15.151039
15075,46237,39499.0,35.3,846.0,21268.0,63388.0,29807.0,3625.0,9.177448
15057,46214,24190.0,34.1,731.0,13590.0,45089.0,24878.0,2949.0,12.190988
15077,46240,18793.0,41.5,419.0,10873.0,57917.0,45403.0,2257.0,12.009791
15062,46220,36503.0,36.2,915.0,24015.0,68015.0,47347.0,2218.0,6.076213
15081,46256,22835.0,43.3,686.0,12826.0,66488.0,44874.0,1952.0,8.548281
14996,46107,12644.0,40.3,532.0,6222.0,39770.0,21962.0,1947.0,15.398608
15076,46239,28426.0,33.6,607.0,14866.0,72207.0,27438.0,1879.0,6.610146
15074,46236,28360.0,39.8,777.0,15834.0,81822.0,40039.0,1678.0,5.916784
15066,46225,7282.0,34.5,320.0,3604.0,33688.0,17806.0,1551.0,21.299094
15079,46250,18999.0,33.7,684.0,12320.0,54944.0,39680.0,1367.0,7.195116
15072,46234,28732.0,37.0,621.0,15796.0,71395.0,31938.0,1313.0,4.569818
15069,46228,15557.0,39.0,626.0,8102.0,64680.0,32175.0,1212.0,7.790705
15054,46204,7554.0,31.7,156.0,3622.0,49757.0,38090.0,1159.0,15.342865
15071,46231,10257.0,38.6,277.0,5246.0,62390.0,24758.0,988.0,9.632446
15085,46278,8129.0,43.4,211.0,4631.0,110750.0,58009.0,346.0,4.256366
15058,46216,2117.0,38.1,132.0,1284.0,41587.0,32947.0,250.0,11.809164
15082,46259,11577.0,35.9,224.0,6256.0,103716.0,34565.0,242.0,2.090352
15048,46183,17.0,-666666666.0,0.0,0.0,-666666666.0,NaN,0.0,0.000000

In [59]:
indianapolis_df = indianapolis_df.dropna()

In [60]:
indianapolis_df.describe()

,Population,Median Age,Unemployed,Employed,Household Income,Per Capita Income,Poverty Count,Poverty Rate
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,26490.222222,35.241667,1087.055556,13820.916667,50769.527778,28213.472222,5070.083333,17.588272
std,12050.867189,3.721396,729.706279,6178.009057,19763.152710,10244.645928,3954.195250,9.985247
min,2117.000000,29.100000,132.000000,1284.000000,23771.000000,14606.000000,242.000000,2.090352
25%,18947.500000,33.175000,617.500000,11047.000000,36091.500000,19764.250000,1646.250000,9.020156
50%,28370.000000,34.800000,865.000000,14325.500000,45335.000000,26369.000000,3887.000000,16.647580
75%,34530.500000,38.200000,1596.250000,17333.500000,62639.500000,33150.500000,8015.000000,26.931230
max,57023.000000,43.400000,3523.000000,28646.000000,110750.000000,58009.000000,12518.000000,37.694809